* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
  color: white;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 1rem 4rem;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

nav {
  display: flex;
  gap: 1rem;
}

#header_height {
  height: 50px;
  background-color: black;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  height: 1000px;
  padding: 10rem 4rem;
}

article {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: min-content;
  gap: 2rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

article p {
  text-align: justify;
}

#section1 {
  background: url(images/above-adventure-aerial-air.jpg) center no-repeat fixed;
}

#section2 {
  background: url(images/dahlia-red-blossom-bloom-60597.jpeg) center no-repeat
    fixed;
  justify-content: end;
}

#section3 {
  background: url(images/flowers-background-butterflies-beautiful-87452.jpeg)
    center no-repeat fixed;
}

#section4 {
  background: url(images/lion-wild-africa-african.jpg) center no-repeat fixed;
  justify-content: end;
}

/* Import */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
