* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
  transition: 0.16s;
}

#switchStyleBtn {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 0.62rem;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #0c0c0c;
  padding: 0.62rem 1rem;
  cursor: pointer;
}

#switchStyleBtn:hover {
  background-color: #161616;
  border-bottom: #ffffff 1px solid;
}

.switchedStyle #switchStyleBtn {
  background-color: transparent;
  color: #a369ff;
  border: none;
}

.switchedStyle #switchStyleBtn:hover {
  text-shadow: #a369ff 0px 0px 15px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ffffff;
  background-color: #000000;
}

.switchedStyle {
  background-color: #ffffff;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, auto);
  gap: 15px;
  border: 2px solid #0c0c0c;
  padding: 15px;
  color: #ffffff;
}

.switchedStyle main {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: none;
  padding: 2.62rem;
}

main .calc-affichage {
  display: flex;
  justify-content: end;
  align-items: center;
  grid-column: span 4;
  min-height: 120px;
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid #ffffff;
  background-color: #0c0c0c;
  font-size: 2rem;
  color: #ffffff;
}

.switchedStyle main .calc-affichage {
  background-color: #cfcfcf;
  border-radius: 16px;
  border-bottom: none;
  color: #a369ff;
  text-shadow: #a369ff42 0px 0px 15px;
}

main button {
  height: 100px;
  width: 100px;
  border: none;
  background-color: #0c0c0c;
  border-bottom: 2px solid #0c0c0c;
  font-size: 2rem;
  color: #ffffff;
}

.switchedStyle main button {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #ffffff88, inset -20px -20px 60px #bebebe88;
  border: none;
  color: #a369ff;
  text-shadow: #a369ff42 0px 0px 15px;
}

.switchedStyle main button:hover {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #bebebe88, inset -20px -20px 60px #ffffff88;
  border: none;
  color: #a369ff;
  text-shadow: #a369ff42 0px 0px 15px;
}

main button:hover {
  background-color: #161616;
  border-bottom: 2px solid #ffffff;
}

main .double-cell {
  grid-column: span 2;
  width: 100%;
}

/* Import */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
