body {
  background-color: rgba(235, 165, 171, 0.6);
}

h1 {
  text-align: center;
}

#container {
  margin: auto;
  margin-top: 5%;
  height: 450px;
  width: 350px;
  background-color: rgba(220, 236, 215, 0.6);
}

#corps {
  position: relative;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #b47618;
  z-index: 2;
  border-radius: 42%;
}

.elements {
  z-index: 3;
}

/*Ajouter le css images ici*/
#Eyes {
  position: absolute;
  top: 100px;
  left: 43px;
}

#Eyebrows {
  position: absolute;
  top: 75px;
  left: 30px;
}

#Hat {
  position: absolute;
  top: -40px;
  left: -3px;
  z-index: 4;
  opacity: 1;
  animation: mymove 1s infinite;
  animation-play-state: paused;
}

#Hat:hover {
  animation: mymove 1s infinite;
  animation-play-state: running;
}

@keyframes mymove {
  from {
    top: -40px;
    left: -3px;
  }
  to {
    top: -90px;
    left: -3px;
  }
}

#LeftEar {
  position: absolute;
  top: 45px;
  left: 165px;
}

#RightEar {
  position: absolute;
  top: 45px;
  left: -45px;
}

#Nose {
  position: absolute;
  top: 100px;
  left: 30px;
}

#RightHand {
  position: absolute;
  top: 150px;
  left: -55px;
}

#LeftHand {
  position: absolute;
  top: -30px;
  left: 120px;
}

#Feet {
  position: absolute;
  top: 275px;
  left: -25px;
}

#Button {
  position: absolute;
  width: 20px;
  top: -5px;
  left: 70px;
  z-index: 1;
}
