/* Import */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ❤️❤️❤️❤️❤️ GLOBAL ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

:root {
  --grup6: 17.94em;
  --grup5: 11.09em;
  --grup4: 6.85em;
  --grup3: 4.24em;
  --grup2: 2.62em;
  --grup1: 1.62em;
  --grup: 1em;
  --grup-1: 0.62em;
  --grup-2: 0.38em;
  --grup-3: 0.24em;
  --grup-4: 0.15em;
  --grup-5: 0.09em;
  --grup-6: 0.06em;
  --backgroundBlack: #070707;
  --hightlightWhite: rgba(255, 255, 255, 0.2);
  --highlightPurple: #6301c4;
  --highlightPurpleLight: #9941f1;
  --textWhite: #fff;
  --smooth: 0.16s;
  --opacity: 68%;
}

body {
  background-color: var(--backgroundBlack);
  color: var(--textWhite);
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--grup-1) var(--grup1);
  gap: var(--grup-1);
  width: min-content;
  color: var(--textWhite);
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: var(--grup1);
  opacity: var(--opacity);
  transition: var(--smooth);
  cursor: pointer;
}

a:hover {
  opacity: 100%;
  background-color: var(--hightlightWhite);
  backdrop-filter: blur(var(--grup-2));
}

hr {
  opacity: var(--opacity);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textWhite);
  font-weight: 800;
  text-transform: uppercase;
  /* opacity: var(--opacity); */
}

/* ❤️🧡🧡🧡🧡 GLOBAL // NAV MENU 🧡🧡🧡🧡❤️ */

header {
  z-index: 99;
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: var(--grup) var(--grup1);
}

.headerLogo {
  padding: var(--grup-2) var(--grup);
}

.headerLogo img {
  height: var(--grup2);
}

@media screen and (max-width: 720px) {
  header {
    padding: var(--grup);
  }

  .headerLogo {
    padding: 0;
  }

  .headerLogo p {
    display: none;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--grup-1);
}

.menuNavMenu {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--grup-1);
}

.menuNavMenu a {
  background-color: var(--hightlightWhite);
  backdrop-filter: blur(var(--grup-2));
  transition: 0.42s;
}

.menuNavClosed .fa-xmark {
  display: none;
}

.menuNavOpened .fa-bars {
  display: none;
}

.menuNavOpened .menuBtn {
  background-color: var(--hightlightWhite);
  outline: var(--highlightPurpleLight) 2px solid;
  backdrop-filter: blur(var(--grup-2));
}

.menuNavOpened .menuBtn i {
  color: var(--highlightPurpleLight);
}

.menuNavClosed .menuNavMenu a {
  transform: translateX(calc(100% + var(--grup1)));
}

.menuNavOpened .menuNavMenu a {
  transform: translateX(0%);
}

.menuNavMenu a:nth-child(2) {
  transition-delay: 0.1s;
}

.menuNavMenu a:nth-child(3) {
  transition-delay: calc(0.1s * 2);
}

.menuNavMenu a:nth-child(4) {
  transition-delay: calc(0.1s * 3);
}

/* ❤️💛💛💛💛 GLOBAL // FOOTER 💛💛💛💛❤️ */

/* ❤️💚💚💚💚 GLOBAL // SCROLLBAR 💚💚💚💚❤️ */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--backgroundBlack);
}

::-webkit-scrollbar-thumb {
  background-color: var(--hightlightWhite);
  border-radius: var(--grup1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--textWhite);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--highlightPurple);
}

/* 🧡🧡🧡🧡🧡 INDEX 🧡🧡🧡🧡🧡🧡🧡🧡🧡🧡 */

/* 🧡💛💛💛💛 INDEX // HERO 💛💛💛💛🧡 */

#home {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10%;
}

#home .tittle {
  display: flex;
  flex-direction: column;
  gap: var(--grup-1);
  text-transform: uppercase;
  opacity: var(--opacity);
}

#home .tittle h1 {
  font-size: var(--grup3);
  line-height: 100%;
}

#home .tittle p {
  font-size: var(--grup1);
  font-weight: 600;
  line-height: 100%;
}

@media screen and (max-width: 720px) {
  #home .tittle h1 {
    font-size: var(--grup2);
  }

  #home .tittle p {
    font-size: var(--grup);
  }
}

.spinning-wireframe {
  z-index: -9;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}

.backgroundGradiant {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #07070700 80%, #070707 100%);
}

.movingGround {
  z-index: -11;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%) perspective(465px) rotateX(58deg);
  height: 60vh;
  width: 500vw;
  background-image: url("../../static/textures/animations/white-square.svg");
  background-size: var(--grup2);
  background-color: #070707;
  outline: var(--hightlightWhite) 2px solid;
  animation: movingBackgroundAnimation 10s linear infinite;
  backface-visibility: hidden;
  -webkit-mask-image: linear-gradient(to bottom, transparent 2%, black 100%);
  mask-image: linear-gradient(to bottom, transparent 2%, black 100%);
}

.skyBackground {
  z-index: -12;
  position: absolute;
  left: 0;
  top: 0;
  height: 65vh;
  width: 100vw;
  background-image: url("../../static/textures/9.jpg");
  filter: grayscale(1) opacity(0.68);
  animation: skyMovingBackgroundAnimation 110s
    cubic-bezier(0.14, -0.02, 0.85, 0.99) infinite;
  -webkit-mask-image: linear-gradient(to top, transparent 2%, black 100%);
  mask-image: linear-gradient(to top, transparent 2%, black 100%);
}

@keyframes movingBackgroundAnimation {
  0% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0;
  }
}

@keyframes skyMovingBackgroundAnimation {
  0%,
  100% {
    background-position-y: 100%;
  }
  50% {
    background-position-y: 0%;
  }
}
